﻿@model Blog.Models.Articles

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="post-preview">
     
        <h2 class='post - title'>
            @Html.Raw(Model.ArticleTopic);
        </h2>
        <h3 class="post-subtitle">
            @MvcHtmlString.Create(Model.ArticleContent)
        </h3>
      

        <p class="post-meta">Posted by<a href="#"> @ViewBag.AuthorName</a> on September 24, 2014</p>
    </div>
    <hr>

