﻿@model List<Blog.Models.Articles>

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-8">
           
            <!-- Main Content -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 ">
                        @foreach (var item in Model)
                        {
                        <div class="post-preview">
                            <h2 class='post - title'>
                                @Html.ActionLink(item.ArticleTopic, "Article", new { id=item.ArticleID, authorID=item.AuthorID })
                                
                            </h2>
                            @*<h3 class="post-subtitle">
                                Problems look mighty small from 150 miles up
                            </h3>*@
                            <p class="post-meta">Posted by<a href="#"> Start Bootstrap</a> on September 24, 2014</p>
                        </div>
                        <hr>
                        }
                        <!-- Pager -->
                        <ul class="pager">
                            <li class="next">
                                <a href="#">Older Posts &rarr;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
