﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="form-group">
        <div class="glyphicon-log-in">
            @using (Html.BeginForm("LoggedInMember","Home",FormMethod.Post,new {@class="form-horizontal", role="form" }))
            {
                <div class="row">
                    <label for="your-id">Please, Enter ID:</label>
                    @Html.TextBox("ID")
                </div>
                <div class="row">
                    <label for="your-password">Please, Enter Password:</label>
                    @Html.Password("Password")
                </div>
                <div class="row">
                    <input type="submit" value="Login" />
                </div>
            }
        </div> 
    </div>
</body>
</html>
